@page
@model FrontEnd.Pages.Admin.CreateTrackModel
@{
    ViewData["Title"] = "CreateTrack";
}

<p>
    Create new Track
</p>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Track.ConferenceId" value="@Model.ConferenceId" type="hidden"/>
    <div class="form-group">
        <label asp-for="Track.Name" class="control-label"></label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="Track.Name" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="Track.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />

