@page
@model FrontEnd.Pages.ImagesModel
@{
    ViewData["Title"] = "Images";
}

<h2>All images</h2>

<p class="mb-0">
    <a asp-page="/UploadImage" asp-route-attendeeUsername="@Model.User.Identity.Name">Upload new Image</a>
</p>

<div class="row">
    @foreach (var image in Model.Images)
    {
        <div class="col-md-3">
            <img src="@image.ImageUrl" title="@image.Name"/>
        </div>
    }
</div>

