@page
@model FrontEnd.Pages.ImagesModel
@{
    ViewData["Title"] = "Images";
}

<h2>Upload Your Image</h2>

<form enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <label asp-for="ImageUpload.Image" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="ImageUpload.Image" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose Image...</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ImageUpload.Name" class="col control-label"></label>
        <input asp-for="ImageUpload.Name" class="col form-control" placeholder="Give it a nice name..."/>
    </div>
    <div class="row form-group">
        <div class="col">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on('change', function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>

<h2>All images</h2>

<div class="row">
    @foreach (var image in Model.Images)
    {
        <div class="col">
            <img src="@image.ImageUrl" title="@image.Name"/>
        </div>
    }
</div>

